[submodule "examples/webpack-example"]
	path = examples/webpack-example
	url = https://github.com/KualiCo/kuali-ui-webpack-example.git
	branch = master
[submodule "examples/browserify-gulp-example"]
	path = examples/browserify-gulp-example
	url = https://github.com/KualiCo/kuali-ui-browserify-gulp-example.git
	branch = master
